/*######################################################
	contact page
#######################################################*/
.contact {

	/* info */
	&-info {

		&-block {
			&:not(:last-child) {
				@include media-breakpoint-up(lg) {
					border-right: 1px solid #e7eaf3;
				}

				@include media-breakpoint-only(xs) {
					border-bottom:  1px solid #e7eaf3;
					padding-bottom: 20px;
				}
			}
		}

		&-icon {
			position: relative;
			padding: 20px;

			&-main {
				color: $green;
				font-size: 25px;
				position: absolute;
				left: calc(50% - 8px);
				top: calc(50% - 14px);
			}

			&-frame {
				font-size: 60px;
				color: #E6F6F2;
			}
		}

		&-title {
			font-weight: 400;
			padding-left: 10px;
			padding-right: 10px;
			line-height: 1.2em;
			margin: auto;
			max-width: 300px;
		}

		&-detail {
			font-size: .825rem;
			font-weight: 300;
			color: #77838f;
			padding-top: 8px;
			padding-left: 10px;
			padding-right: 10px;
			line-height: 1.2em;
			margin: auto;
			max-width: 300px;
		}
	}


	/* location */
	&-location {
		padding-top: 50px;
		padding-bottom: 50px;

		@include media-breakpoint-down(sm) {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		@include media-breakpoint-down(xs) {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	&-map {
		min-height: 400px;
	}
}