/*######################################################
  navbar
#######################################################*/
.navbar {
  

  &-nav {
    a {
      color: $black;
      font-weight: 400;

      &:active,
      &:focus {
        color: $black;
      }

      &:hover {
        color: $green;
      }
    }

    .current-menu-item,
    .current_page_item {
      a {
        color: $green;
      }
    }
  }

  .container-fluid {
    position: relative;
  }

  .menu-item,
  .nav-item {
    padding-left: .8em;
    padding-right: .8em;

    > a {
      @extend .nav-link;
    }
  }

  &-brand {
    background: transparent url('img/indocreativelab-logo-small.png') 0 0 no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 27px;
    width: 200px;
    text-indent: -999em;
    overflow: hidden;
    outline: none;
  }

  &-top {
    margin-left: auto !important;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: .2em .4em;
    }

    a {
      @include transition(all linear .4s);
      @include border-radius(2px);
      color: $green;
      border: 1px solid $green;
      padding: 4px;

      &:hover,
      &:focus,
      &:active {
        background-color: $green;
        color: $white;
        text-decoration: none;
      }
    }
  }
}






/* toggler animation */  
$accent-color: hsl(0, 0, 50);
.navbar-toggler {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 35px;
  right: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: hsl(0, 0, 100);
  border-radius: 50%;
  border: none;
  outline: none;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }

  span {
    position: absolute;
    width: 40px;
    height: 4px;
    top: 50%;
    left: 50%;
    background: hsl(0, 0, 15);
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      background: $accent-color;
      transition: all 0.3s linear;
    }

    &:nth-child(1) {
      animation: span-first-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
    &:nth-child(2) {
      animation: span-second-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
    &:nth-child(3){
      animation: span-third-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}
    
.navbar-toggler.on {
  &:hover span::before {
    width: 100%;
    transition: all 0.3s linear;
  }
  span {
    &:nth-child(1) {
      animation: span-first-on 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
    &:nth-child(2) {
      animation: span-second-on 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
    &:nth-child(3) {
      animation: span-third-on 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

     
@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%);
  }
  30%{
    transform: translate(-50%, -50%);
  }
  100%{
    transform: translate(-50%, -50%) rotate(-45deg);
  }

}
@keyframes span-first-off {
  0%{
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  30%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -300%);
  }
}
  
@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    background: $accent-color;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-150%, -50%) scale(0);
  }
}

@keyframes span-second-off {
  0% {
    transform: translate(-150%, -50%) scale(0);
  }
  25%{
    background: $accent-color;
  }
  50%{
    transform: translate(-50%, -50%) scale(1);
  }
  100%{
    transform: translate(-50%, -50%);
  }
}
    
@keyframes span-third-on {
  0%{
    transform: translate(-50%, 200%);
  }
  30%{
    transform: translate(-50%, -50%);
  }
  100%{
    transform: translate(-50%, -50%) rotate(45deg);
  }
}


@keyframes span-third-off {
  0%{
    transform: translate(-50%, -50%) rotate(45deg);
  }
  30%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, 200%);
  }
}
