/*######################################################
	section
#######################################################*/
.page-section {
	position: relative;	

	&-title {
		font-weight: 500;
		margin-bottom: 2.4rem;
		text-transform: capitalize;
		letter-spacing: 1px;

		span {
			//font-weight: 600;
		}
	}

	&-subtitle {
		color: #77838f;
		font-weight: 400;
		position: relative;
		margin-top: -30px;
		margin-bottom: 40px;
	}

	> .container-fluid,
	> .container {
		padding-top: 60px;
		padding-bottom: 60px;

		@include media-breakpoint-down(sm) {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		@include media-breakpoint-down(xs) {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	&.pg-full-width > {
		.container-fluid,
		.container {
			max-width: 100%;
		}
	}
}

.section-divider {
	@include media-breakpoint-up(xl) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
    @include media-breakpoint-between(md, lg) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @include media-breakpoint-between(sm, sm) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
}