<section class="page-section ps-banner banner">
	<div class="banner-image">  
	  <div class="banner-inner">        
	    <div class="container-fluid">
	    	<div class="text-center banner-content">
	        	<h1 class="banner-title font-weight-semi-bold mb-0">Your business needs a little push.</h1>    		
	    	</div>


	    	<div id="SVGMainHero" class="col-lg-9 col-xl-7 d-none d-lg-block position-absolute top-0 right-0 pr-0">
	          <figure class="ie-main-hero">
	            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1374.7 1083.6" style="enable-background:new 0 0 1374.7 1083.6;" xml:space="preserve" class="injected-svg js-svg-injector" data-img-paths="[
	                   {&quot;targetId&quot;: &quot;#SVGMainHeroImg1&quot;, &quot;newPath&quot;: &quot;img/banner/banner-3a.jpg&quot;}
	                 ]" data-parent="#SVGMainHero">
						<style type="text/css">
							.main-hero-0{fill:#00a57d;}
						</style>
						<path class="main-hero-0 fill-primary" opacity=".05" d="M285.2,170.1c-94.5,8.6-181.2,57.4-235.9,134.8C-34.7,423.6-54.5,621.5,349,879.8  c636.5,407.6,600,9.3,591.9-47.4c-0.8-5.5-1.4-11.1-2-16.6l-34.2-374.1C888.4,262,729.2,129.6,549.4,146L285.2,170.1z"></path>
						<g>
							<defs>
								<path id="mainHeroBlock1" d="M1374.7,0H687.6l-278,279.7c-150,150.9-148.1,395.3,4.4,543.8l0,0C554.1,960,774.9,968.7,925.4,843.6    l449.3-373.4V0z"></path>
							</defs>
							<clipPath id="mainHeroBlock2">
								<use xlink:href="#mainHeroBlock1" style="overflow:visible;"></use>
							</clipPath>
							<g transform="matrix(1 0 0 1 0 0)" style="clip-path:url(#mainHeroBlock2);">
								<!-- Apply your (750px width to 750px height) image here -->
								<image id="SVGMainHeroImg1" style="overflow:visible;" width="750" height="750" xlink:href="img/banner/banner-3a.jpg" transform="matrix(1.4462 0 0 1.4448 290.09 0)"></image>
							</g>
						</g>
						</svg>
	          </figure>
        	</div>


	    </div>
	  </div>
	</div>
</section>  