<section class="page-section banner-subpage {{class}} {{#if wavebg }}is-has-wave{{/if}}">
	<div class="banner-subpage-image">	
		<div class="banner-subpage-inner">				
			
			<div class="dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal"}'>
			    <div class="divimage dzsparallaxer--target" style="width: 100%; height: 150%; background-image: url('{{ image }}')">
			    </div>
			</div>
			

			<div class="container-fluid text-center">
				<h1 class="banner-subpage-title text-white font-weight-semi-bold mb-0">{{title}}</h1>

				{{#if subtitle}}
				<p class="banner-subpage-subtitle lead text-white">We'd love to talk about how we can help you.</p>
				{{/if}}
			</div>

			{{#if wavebg }}
				<figure class="bg-wave bg-pos-bottom-wave">
					<img class="js-svg-injector" src="img/bg/wave-bottom.svg" alt="wave background">
				</figure>
			{{/if}}


		</div>
	</div>
</section>