<div class="banner-video">
	<div class="banner-video-content" style="background-image: url('img/banner/banner-8.jpg');">
			<div class="container-fluid text-center">
				<h4 class="d-inline-block text-white mb-0">Start building beautiful websites with Spyre</h4><br>
				<a href="#" class="btn btn-primary btn-pill transition-splash-hover">Talk a project with us</a>
			</div>	

		 <!-- SVG Top Shape -->
	      <figure class="bg-wave bg-pos-top-wave">
	        <img class="js-svg-injector" src="img/bg/wave-2-top.svg" alt="Image Description"
	             data-parent="#SVGwave2Shape">
	      </figure>
	      <!-- End SVG Top Shape -->

	      <!-- SVG Bottom Shape -->
	      <figure class="bg-wave bg-pos-bottom-wave">
	        <img class="js-svg-injector" src="img/bg/wave-2-bottom.svg" alt="Image Description"
	             data-parent="#SVGwave2Shape">
	      </figure>
	      <!-- End SVG Bottom Shape -->
	      
	</div>
</div>