<section class="page-section ps-bannercarousel banner-carousel is-has-wave">
	<div class="banner-carousel-inner">  

		<div class="banner-carousel-item">  
			<div class="banner-carousel-image" style="background-image: url('img/banner/free/office.jpg');">
				<div class="container-fluid">
					<div class="banner-carousel-text text-center">
						<div class="banner-carousel-content">
							<h1 class="banner-carousel-title">Bonded﻿ by science: researchers describe their nerdy proposals</h1>
							<p class="banner-carousel-subtitle text-typing">Historical record points to climate patterns that could prime the region for an intense fire season.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="banner-carousel-item">  
			<div class="banner-carousel-image" style="background-image: url('img/banner/free/office-2.jpg');">	
				<div class="container-fluid">	
					<div class="banner-carousel-text text-center">					
						<div class="banner-carousel-content">
							<h1 class="banner-carousel-title">Tree rings reveal increased fire risk for southwestern US</h1>
							<p class="banner-carousel-subtitle text-typing">At Wake, our mission has always been focused on bringing openness and transparency to the design process.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<figure class="bg-wave bg-pos-bottom-wave">
		<img class="js-svg-injector" src="img/bg/wave-bottom.svg" alt="wave background">
	</figure>
</section>
