<section class="page-section ps-partners bg-lightgray ">
	<div class="container">
		<h2 class="page-section-title  text-center">Our <span>CMS</span> Technologies</h2>
		<p class="page-section-subtitle text-center">We are provides the most powerful and valuable CMS in PHP and dot net.</p>
		<div class="partners">
			<div class="partners-content d-flex flex-wrap justify-content-center">
		        <div class="partners-item mx-4">
		          <img class="img-fluid" src="img/partners/wordpress-ov.png" alt="Wordpress">
		        </div>
		        <div class="partners-item mx-4">
		          <img class="img-fluid" src="img/partners/drupal-ov.png" alt="Drupal">
		        </div>
		        <div class="partners-item mx-4">
		          <img class="img-fluid" src="img/partners/laravel-ov.png" alt="Laravel">
		        </div>	
		        <div class="partners-item mx-4">
		          <img class="img-fluid" src="img/partners/woocommerce-ov.png" alt="Woocommerce">
		        </div>	
		        <div class="partners-item mx-4">
		          <img class="img-fluid" src="img/partners/magento-ov.png" alt="Magento">
		        </div>		        
		        <div class="partners-item mx-4">
		          <img class="img-fluid" src="img/partners/sitecore-ov.png" alt="Sitecore">
		        </div>
		        <div class="partners-item mx-4">
		          <img class="img-fluid" src="img/partners/kentico-ov.png" alt="Kentico">
		        </div>
		        <div class="partners-item mx-4">
		          <img class="img-fluid" src="img/partners/umbraco-ov.png" alt="Umbraco">
		        </div>
		      </div>
		</div>
	</div>
</section>