<div class="portfolio portfolio-home">
    <div class="portfolio-navs text-center text-lg-right">
        <div class="btn-group" role="group">
          <button class="btn btn-md" data-group="website">Website</button>
          <button class="btn btn-md" data-group="branding">Branding</button>
          <button class="btn btn-md" data-group="application">Application</button>
          <button class="btn btn-md" data-group="mobile">Mobile</button>
        </div>
    </div>
    <div class="portfolio-list row">

          <div class="portfolio-item card col-sm-6 col-md-4" data-groups='["website", "branding"]' data-title="Title Goes Here">
            <a href="#">
              <img class="card-img-top" src="img/portfolio/img1.jpg" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <span class="u-label u-label--sm u-label--danger" href="#">Website</span>
              <span class="u-label u-label--sm u-label--success" href="#">Branding</span>
            </div>
          </div>          

          <div class="portfolio-item card col-sm-6 col-md-4" data-groups='["branding"]' data-title="Title Goes Here">
            <a href="#">
              <img class="card-img-top" src="img/portfolio/img2.jpg" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <span class="u-label u-label--sm u-label--success" href="#">Branding</span>
            </div>
          </div>

          <div class="portfolio-item card col-sm-6 col-md-4" data-groups='["application"]' data-title="Title Goes Here">
            <a href="#">
              <img class="card-img-top" src="img/portfolio/img3.jpg" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <span class="u-label u-label--sm u-label--warning" href="#">Application</span>
            </div>
          </div>

          <div class="portfolio-item card col-sm-6 col-md-4" data-groups='["mobile"]' data-title="Title Goes Here">
            <a href="#">
              <img class="card-img-top" src="img/portfolio/img4.jpg" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <span class="u-label u-label--sm u-label--info" href="#">Mobile</span>
            </div>
          </div>

          <div class="portfolio-item card col-sm-6 col-md-4" data-groups='["website"]' data-title="Title Goes Here">
            <a href="#">
              <img class="card-img-top" src="img/portfolio/img5.jpg" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <span class="u-label u-label--sm u-label--danger" href="#">Website</span>
            </div>
          </div>

          <div class="portfolio-item card col-sm-6 col-md-4" data-groups='["branding"]' data-title="Title Goes Here">
            <a href="#">
              <img class="card-img-top" src="img/portfolio/img6.jpg" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <span class="u-label u-label--sm u-label--success" href="#">Branding</span>
            </div>
          </div>

          <div class="portfolio-item card col-sm-6 col-md-4" data-groups='["application"]' data-title="Title Goes Here">
            <a href="#">
              <img class="card-img-top" src="img/portfolio/client1.PNG" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">AFTT</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <span class="u-label u-label--sm u-label--warning" href="#">Application</span>
            </div>
          </div>

          <div class="portfolio-item card col-sm-6 col-md-4" data-groups='["mobile"]' data-title="Title Goes Here">
              <a href="#">
                <img class="card-img-top" src="img/portfolio/client2.PNG" alt="Card image cap">
              </a>
            <div class="card-body">
              <h5 class="card-title">Blust TV</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <span class="u-label u-label--sm u-label--info" href="#">Mobile</span>
            </div>
          </div>

          <div class="portfolio-item card col-sm-6 col-md-4" data-groups='["branding"]' data-title="Title Goes Here">
            <a href="#">
              <img class="card-img-top" src="img/portfolio/client3.PNG" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">Patter</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <span class="u-label u-label--sm u-label--success" href="#">Branding</span>
            </div>
          </div>

          <div class="portfolio-item card col-sm-6 col-md-4" data-groups='["website"]' data-title="Title Goes Here">
            <a href="#">
              <img class="card-img-top" src="img/portfolio/client4.PNG" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">Polynates</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <span class="u-label u-label--sm u-label--danger" href="#">Website</span>
            </div>
          </div>

    </div>
</div>