<div class="service-detail-list row justify-content-md-between align-items-center">
  <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
    <ul class="list-unstyled u-indicator-vertical-dashed pr-md-4">
      <!-- Info -->
      <li class="media u-indicator-vertical-dashed-item">
        <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
          <span class="icon-checkmark"></span>
        </span>
        <div class="media-body mt-n1">
          <h3 class="h5 text-primary">Responsive design</h3>
          <p>Responsive design has grown from a preference to a necessity.</p>
        </div>
      </li>
      <!-- End Info -->
      <!-- Info -->
      <li class="media u-indicator-vertical-dashed-item">
        <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
          <span class="icon-checkmark"></span>
        </span>
        <div class="media-body mt-n1">
          <h3 class="h5 text-primary">Hosting</h3>
          <p>We know that business never stops, and neither should your website.</p>
        </div>
      </li>
      <!-- End Info -->
      <!-- Info -->
      <li class="media u-indicator-vertical-dashed-item">
        <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
          <span class="icon-checkmark"></span>
        </span>
        <div class="media-body mt-n1">
          <h3 class="h5 text-primary">Search engine optimization</h3>
          <p>Improve your website's ranking in search results with our comprehensive SEO packages and services.</p>
        </div>
      </li>
      <!-- End Info -->
    </ul>
  </div>
  <div class="col-md-6 position-relative">
    <figure class="decor-soft-triangle-shape">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1109.8 797.1" style="enable-background:new 0 0 1109.8 797.1;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGbgShape">
        <style type="text/css">
        .soft-triangle-shape-0{
        fill:#00a57d;
        }
        </style>
      <path class="soft-triangle-shape-0 fill-primary" opacity=".1" d="M105.1,267.1C35.5,331.5-3.5,423,0.3,517.7C6.1,663,111,831.9,588.3,790.8c753-64.7,481.3-358.3,440.4-398.3  c-4-3.9-7.9-7.9-11.7-12L761.9,104.8C639.4-27.6,432.5-35.6,299.9,87L105.1,267.1z"></path>
    </svg>
  </figure>
  
  <img class="img-fluid" src="img/portfolio/img8.jpg" alt="Image Description">
</div>
</div>
<!-- End Services Section -->