<section class="page-section ps-promo bg-clr-blue-gradient">
    <div class="container-fluid">
        <div class="d-md-table w-100">
            <div class="d-md-table-cell w-50 va-middle text-center text-md-left">
                <h2 class="page-section-title">You wish us <br>To talk about your project?</h2>
            </div>
            <div class="d-md-table-cell w-50 va-middle text-center text-md-right">

                <label class="h-1">Get our offers in news letter?</label>

                <div class="news-letter">
                    <input type="text">
                    <button class="btn btn-warning btn-pill btn-icon transition-splash-hover"><i class="icon-paper-plane"></i>Subscribe</button>                    
                </div>
                
            </div>
        </div>
    </div>
      <figure class="bg-wave bg-pos-bottom-wave">
        <img class="js-svg-injector" src="img/bg/wave-bottom.svg" alt="wave background">
      </figure>
</section>