<section class="page-section ps-testimonials bg-lightgreen-gradient"  style="background-image: url('img/banner/free/chess.jpg');">
	<div class="container-fluid">
        
        <h2 class="page-section-title text-center">Testimonials</h2>
        <p class="page-section-subtitle text-center">What clients are saying</p>
		
		<div class="testimonials">
			<div class="testimonials-inner">

				<div class="testimonials-item text-center">
					<div class="testimonials-quote card border-0 shadow-sm">
						<div class="card-body">
							<p class="mb-0">The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</p>
						</div>	
					</div>
					<div class="testimonials-author">
						<div class="testimonials-avatar mx-auto">
							<img class="img-fluid rounded-circle" src="img/testimonials/img1.jpg">
						</div>
						<h4 class="h6 mb-0">Maria Muszynska</h4>
						<p class="small">Google</p>
					</div>
				</div>


				<div class="testimonials-item text-center">
					<div class="testimonials-quote card border-0 shadow-sm">
						<div class="card-body">
							<p class="mb-0">The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</p>
						</div>	
					</div>
					<div class="testimonials-author">
						<div class="testimonials-avatar mx-auto">
							<img class="img-fluid rounded-circle" src="img/testimonials/img2.jpg">
						</div>
						<h4 class="h6 mb-0">Alex Pottorf</h4>
						<p class="small">Github</p>
					</div>
				</div>

				<div class="testimonials-item text-center">
					<div class="testimonials-quote card border-0 shadow-sm">
						<div class="card-body">
							<p class="mb-0">The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</p>
						</div>	
					</div>
					<div class="testimonials-author">
						<div class="testimonials-avatar mx-auto">
							<img class="img-fluid rounded-circle" src="img/testimonials/img3.jpg">
						</div>
						<h4 class="h6 mb-0">Alex Pottorf</h4>
						<p class="small">Github</p>
					</div>
				</div>

				<div class="testimonials-item text-center">
					<div class="testimonials-quote card border-0 shadow-sm">
						<div class="card-body">
							<p class="mb-0">The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</p>
						</div>	
					</div>
					<div class="testimonials-author">
						<div class="testimonials-avatar mx-auto">
							<img class="img-fluid rounded-circle" src="img/testimonials/img4.jpg">
						</div>
						<h4 class="h6 mb-0">Alex Pottorf</h4>
						<p class="small">Github</p>
					</div>
				</div>




			</div>
		</div>
	</div>	
</section>