<div class="whatwedo">
  <div class="whatwedo-content row justify-content-lg-center">
        

        <div class="whatwedo-item col-md-6 col-lg-5 mb-7">
          <!-- Icon Blocks -->
          <div class="media pr-lg-5">
            <figure class="whatwedo-icon w-100 max-width-8 mr-4">
              <span class="whatwedo-icon-main icon-users"></span>
              <span class="whatwedo-icon-frame icon-spinner10"></span>
            </figure>
            <div class="whatwedo-content media-body">
              <h3 class="h5">Dedicated team</h3>
              <p class="mb-1">A successful project is built with a successful team. Which is why we provide you with the human resources you need to build whenever you need them. Our on-shoring & near offshoring teams are... </p>
              <a class="font-size-1" href="#">Explore now <span class="fas fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="whatwedo-item col-md-6 col-lg-5 mb-7">
          <!-- Icon Blocks -->
          <div class="media pl-lg-5">
            <figure class="whatwedo-icon w-100 max-width-8 mr-4">
              <span class="whatwedo-icon-main icon-display"></span>
              <span class="whatwedo-icon-frame icon-star-empty"></span>
            </figure>
            <div class="whatwedo-content media-body">
              <h3 class="h5">Web Applications</h3>
              <p class="mb-1"> Decentralization of applications is becoming essential – to have a permanent access to your tools. It allows you to manage your company from home or during business trip, constantly, on desktop or... </p>
              <a class="font-size-1" href="#">Explore now <span class="fas fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

 
        <div class="whatwedo-item col-md-6 col-lg-5 mb-7 mb-lg-0">
          <!-- Icon Blocks -->
          <div class="media pr-lg-5">
            <figure class="whatwedo-icon w-100 max-width-8 mr-4">
              <span class="whatwedo-icon-main icon-cogs"></span>
              <span class="whatwedo-icon-frame icon-radio-unchecked"></span>
            </figure>
            <div class="whatwedo-content media-body">
              <h3 class="h5">Intranet & Extranet & ERP</h3>
              <p class="mb-1">Intranet and Extranet are in-between websites and web applications. They are mainly used by companies to diffuse and manage information among the employees. Intranets are closed to outside access,... </p>
              <a class="font-size-1" href="#">Explore now <span class="fas fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="whatwedo-item col-md-6 col-lg-5">
          <!-- Icon Blocks -->
          <div class="media pl-lg-5">
            <figure class="whatwedo-icon w-100 max-width-8 mr-4">
              <span class="whatwedo-icon-main icon-mobile"></span>
              <span class="whatwedo-icon-frame icon-star-empty"></span>
            </figure>
            <div class="whatwedo-content media-body">
              <h3 class="h5">Mobile Applications</h3>
              <p class="mb-1"> Blackberry opened the door, the iPhone changed everything, Android finished democratizing the smartphone technology, then the tablet. Now, mobile is an essential channel of... </p>
              <a class="font-size-1" href="#">Explore now <span class="fas fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>




        <div class="whatwedo-item col-md-6 col-lg-5 mb-7">
          <!-- Icon Blocks -->
          <div class="media pr-lg-5">
            <figure class="whatwedo-icon w-100 max-width-8 mr-4">
              <span class="whatwedo-icon-main icon-cloud-check"></span>
              <span class="whatwedo-icon-frame icon-server"></span>
            </figure>
            <div class="whatwedo-content media-body">
              <h3 class="h5">Manageable Website (CMS)</h3>
              <p class="mb-1"> Content Management Systems (or CMS) are solutions allowing you to manage dynamic websites without having technical knowledge. We develop and customize the website for you. Then, you can update the... </p>
              <a class="font-size-1" href="#">Explore now <span class="fas fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="whatwedo-item col-md-6 col-lg-5 mb-7">
          <!-- Icon Blocks -->
          <div class="media pl-lg-5">
            <figure class="whatwedo-icon w-100 max-width-8 mr-4">
              <span class="whatwedo-icon-main icon-price-tags"></span>
              <span class="whatwedo-icon-frame icon-stats-bars"></span>
            </figure>
            <div class="whatwedo-content media-body">
              <h3 class="h5">E-commerce</h3>
              <p class="mb-1"> An e-commerce is a commerce online, a website selling your products on the web. <i>IndoCreativeLab</i> proposes several CMS platforms specifically created to manage your own e-commerce. We analyze your needs and... </p>
              <a class="font-size-1" href="#">Explore now <span class="fas fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

 
        <div class="whatwedo-item col-md-6 col-lg-5 mb-7 mb-lg-0">
          <!-- Icon Blocks -->
          <div class="media pr-lg-5">
            <figure class="whatwedo-icon w-100 max-width-8 mr-4">
              <span class="whatwedo-icon-main icon-hammer"></span>
              <span class="whatwedo-icon-frame icon-omega"></span>
            </figure>
            <div class="whatwedo-content media-body">
              <h3 class="h5">Branding</h3>
              <p class="mb-1"> You create a new brand? Or you want to activate an old one? You need a new design for your logo or marketing advice? Brand activation regroups all the marketing tools which will make your brand... </p>
              <a class="font-size-1" href="#">Explore now <span class="fas fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="whatwedo-item col-md-6 col-lg-5">
          <!-- Icon Blocks -->
          <div class="media pl-lg-5">
            <figure class="whatwedo-icon w-100 max-width-8 mr-4">
              <span class="whatwedo-icon-main icon-make-group"></span>
              <span class="whatwedo-icon-frame icon-sigma"></span>
            </figure>
            <div class="whatwedo-content media-body">
              <h3 class="h5">Design</h3>
              <p class="mb-1"> Design start when you think about your company name, then follows you at each step of your company's development. For all those steps, <i>IndoCreativeLab</i> is there to create visuals linked to your... </p>
              <a class="font-size-1" href="#">Explore now <span class="fas fa-angle-right align-middle ml-2"></span></a>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>



      </div>
    </div>