 <section class="page-section ps-latestproject pg-full-width">
  <div class="container-fluid">
        <h2 class="page-section-title  text-center">Our <span>latest</span> works</h2>
        <p class="page-section-subtitle text-center">Experience a level of our quality in both design &amp; customization works.</p>

      <div class="work-carousel">
        <div class="work-carousel-wrap">
            <div class="work-carousel-item">
              <a href="#" class="work-carousel-link">
                <div class="work-carousel-inner">
                  <div class="work-carousel-image">
                    <img src="img/projects/proj3.jpg" class="img-fluid">
                  </div>
                  <div class="work-carousel-caption">
                    <h4>BLUS.tv</h4>
                    <span>Website</span>
                  </div>                  
                </div>
              </a>
            </div>
            <div class="work-carousel-item">
              <a href="#" class="work-carousel-link">
                <div class="work-carousel-inner">
                  <div class="work-carousel-image">
                    <img src="img/projects/proj5-free-img.jpg" class="img-fluid">
                  </div>
                  <div class="work-carousel-caption">
                    <h4>AROGA</h4>
                    <span>Website</span>
                  </div>                  
                </div>
              </a>
            </div>
            <div class="work-carousel-item">
              <a href="#" class="work-carousel-link">
                <div class="work-carousel-inner">
                  <div class="work-carousel-image">
                    <img src="img/projects/proj6.jpg" class="img-fluid">
                  </div>
                  <div class="work-carousel-caption">
                    <h4>Polynates</h4>
                    <span>Website</span>
                  </div>                  
                </div>
              </a>
            </div>
            <div class="work-carousel-item">
              <a href="#" class="work-carousel-link">
                <div class="work-carousel-inner">
                  <div class="work-carousel-image">
                    <img src="img/projects/proj7.jpg" class="img-fluid">
                  </div>
                  <div class="work-carousel-caption">
                    <h4>AFTT</h4>
                    <span>Website</span>
                  </div>                  
                </div>
              </a>
            </div>
            <div class="work-carousel-item">
              <a href="#" class="work-carousel-link">
                <div class="work-carousel-inner">
                  <div class="work-carousel-image">
                    <img src="img/projects/proj3.jpg" class="img-fluid">
                  </div>
                  <div class="work-carousel-caption">
                    <h4>Kharisma Sinar Utama</h4>
                    <span>Website</span>
                  </div>                  
                </div>
              </a>
            </div>
            <div class="work-carousel-item">
              <a href="#" class="work-carousel-link">
                <div class="work-carousel-inner">
                  <div class="work-carousel-image">
                    <img src="img/projects/proj5-free-img.jpg" class="img-fluid">
                  </div>
                  <div class="work-carousel-caption">
                    <h4>Kharisma Sinar Utama</h4>
                    <span>Logo</span>
                  </div>                  
                </div>
              </a>
            </div>
            <div class="work-carousel-item">
              <a href="#" class="work-carousel-link">
                <div class="work-carousel-inner">
                  <div class="work-carousel-image">
                    <img src="img/projects/proj6.jpg" class="img-fluid">
                  </div>
                  <div class="work-carousel-caption">
                    <h4>Derry Kesuma</h4>
                    <span>Logo</span>
                  </div>                  
                </div>
              </a>
            </div>
            <div class="work-carousel-item">
              <a href="#" class="work-carousel-link">
                <div class="work-carousel-inner">
                  <div class="work-carousel-image">
                    <img src="img/projects/proj7.jpg" class="img-fluid">
                  </div>
                  <div class="work-carousel-caption">
                    <h4>Derry Kesuma</h4>
                    <span>Website</span>
                  </div>                  
                </div>
              </a>
            </div>
        </div>
      </div>


      <div class="text-center">
        <a href="http://www.google.com" class="btn btn-warning btn-icon btn-wide btn-pill transition-splash-hover"><i class="icon-chevron-right"></i>More Works</a>
      </div>

  </div>
</section>              
