/*######################################################
	content
#######################################################*/
main#main {
}

.page-column {
  @include media-breakpoint-up(xl) {
      padding-top: 50px;
    }
    @include media-breakpoint-between(lg,lg) {
      padding-top: 40px;
    }

    @include media-breakpoint-between(md,md) {
      padding-top: 30px;
    }

    @include media-breakpoint-between(sm,sm) {
      padding-top: 20px;
    }

     @include media-breakpoint-only(xs) {
      padding-top: 10px;
     }
}

.decor-soft-triangle-shape {
}

.page-title.h1 {
  margin-bottom: 2rem;
}

.pg-wysiwyg {
  font-size: .875rem;
  font-weight: 300;
  line-height: 2em;

  hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
    img {
      @extend .img-fluid;
    }

    h1 {
      @extend .h1;
      margin-bottom: 2rem;
    }

    h2 {
      @extend .h2;
      margin-bottom: 1.6rem;
    }

    h3 {
      @extend .h3;
      margin-bottom: 1.4rem;
    }

    h4 {
      @extend .h4;
      margin-bottom: 1.2rem;
    }

    h5 {
      @extend .h5;
      margin-bottom: 1rem;
    }

    h6 {
      @extend .h6;
      margin-bottom: .8rem;
    }
}

section.widget {
  &:first-child {
    padding-top: 0;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: relative;

    &:not(:last-child) {
      &:after {
        display: block;
        content: "";
        position: absolute;
        border-bottom: 1px solid #e7eaf3;
        bottom: 0;
        width: calc(100% - 20px);
      }
    }
  }

  @include media-breakpoint-between(md, md) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .page-column-right & {
    @include media-breakpoint-up(lg) {
      padding-left: 20px;
    }
  }
}

.widget-title {
  @extend .h6;
  padding-bottom: 20px;
}

/*------------------------------------
  spacing
------------------------------------*/
.space {
  &-bt {
    &-lg {
      &-80 {
        @include media-breakpoint-up(xl) {
          padding-bottom: 80px;
        }
      }
    }
    &-md {
      &-60 {
        @include media-breakpoint-between(md, lg) {
          padding-bottom: 60px;
        }
      }
    }
    &-sm {
      &-40 {
        @include media-breakpoint-between(sm, sm) {
          padding-bottom: 40px;
        }
      }
    }
  }

  &-tp {
    &-lg {
      &-80 {
        @include media-breakpoint-up(xl) {
          padding-top: 80px;
        }
      }
    }
    &-md {
      &-60 {
        @include media-breakpoint-between(md, lg) {
          padding-top: 60px;
        }
      }
    }
    &-sm {
      &-40 {
        @include media-breakpoint-between(sm, sm) {
          padding-top: 40px;
        }
      }
    }
  }
}

/*------------------------------------
  background
------------------------------------*/
.bg-clr-blue-gradient {
    background-image: linear-gradient(150deg, #04916f 0%, #00a57d 100%);
    background-repeat: repeat-x;
    color: #fff !important;
    padding-bottom: 5em;
}

.bg-lightgreen-gradient {
  background-image: linear-gradient(0deg, rgba(0, 127, 96, 0.08) 0%, rgba(0, 127, 96, 0.03) 100%);
  background-repeat: repeat-x;
}

.bg-wave {     
      display: block;
      left: 0;
      margin: 0;
      position: absolute;
      right: 0;
      z-index: 2;

      img {
        height: auto;
        max-height: 140px;
        width: 100%;
      } 

    &.bg-pos-bottom-wave {
      bottom: 0;
    }

    &.bg-pos-top-wave {
      top: 0;
    }
}

.bd-top-1 {
  border-top: 1px solid #E7EAF3;
}

.bg-lightgray {
  background-color: #f4f4f7;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><path d='M100 100 V 90 L 90 100 Z' fill='%23212529' fill-opacity='0.045'></path><path d='M100 90 V 80 L 90 90 Z' fill='%23212529' fill-opacity='0.015'></path><path d='M90 100 V 90 L 80 100 Z' fill='%23212529' fill-opacity='0.03'></path><path d='M90 100 V 90 H 100 Z' fill='%23212529' fill-opacity='0.06'></path></svg>");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% auto;
  position: relative;

  &:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><path d='M0 100 V 90 L 10 100 Z' fill='%23212529' fill-opacity='0.03'></path><path d='M0 90 V 80 L 10 90 Z' fill='%23212529' fill-opacity='0.045'></path><path d='M10 100 V 90 L 20 100 Z' fill='%23212529' fill-opacity='0.025'></path><path d='M0 90 H 10 V 100 Z' fill='%23212529' fill-opacity='0.06'></path></svg>");
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% auto;
    z-index: 0;
  }

  > .container,
  > .container-fluid {
    position: relative;
    z-index: 2;
  }
}

/*------------------------------------
  vertical dashed
------------------------------------*/
.u-indicator-vertical-dashed-item:not(:last-child)::after {
    position: absolute;
    top: 1.625rem;
    bottom: -.8125rem;
    left: 27px; //.625rem;
    border-left: 2px dashed #e7eaf3;
    content: "";
}

.service-detail-list {
  :not(.text-primary) {
    color: #77838f;
    font-weight: 400;
  }
}


/*------------------------------------
  transition
------------------------------------*/
/* 3D Hover */
.transition-3d-hover {
  transition: all 0.2s ease-in-out;
}

.transition-3d-hover:hover, .transition-3d-hover:focus {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.transition-splash-hover {
  @include transition(all linear .4s);
  position: relative;
  overflow: hidden;

  &:before,
  &:after {
    @include transition(all linear .4s);
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &:hover {
    &:before,
    &:after {     
      opacity: 1;
      visibility: visible;
      width: 0;
    }
  }

  &.btn-primary {
    &:before,
    &:after {
      background: rgba(0, 165, 125, 0.8);
    }
  }

  &.btn-warning {
    &:before,
    &:after {
      background: rgba(255, 193, 7, 0.8);
    }

    &:hover {
      color: #fff;
    }
  }
}

/*------------------------------------
  sidepanel
------------------------------------*/
.sidepanel {
  &-block {

    &:first-child .inner {
      padding-top: 0;
    }

    &:not(:last-child) .inner {
      border-bottom: 1px solid #e7eaf3;
    }

    &-label {
      padding-bottom: 20px;
    }

    .page-column-right[class*="col-lg"]  & {
       @include media-breakpoint-up(lg) {
        padding-left: 20px;
      }
    }

    .inner {
      @include media-breakpoint-up(lg) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
      }

      @include media-breakpoint-between(md, md) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }


  }
}


/*------------------------------------
  popular post
------------------------------------*/
.popular-post-list {
  .media-body {
    padding-top: 10px;
    h5 {
      font-size: .9rem;
      font-weight: normal;
    }

    span {
      color:  #77838f;
      font-size: .825rem;
      font-weight: 300;

      [class*="icon"] {
        margin-right: 6px;
      }
    }
  }

  .popular-post-image {
    height: auto;
    width: 64px;

    img {
      @extend .img-fluid;
    }
  }
}

/*------------------------------------
  Label
------------------------------------*/
.u-label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
  padding: 0.625rem 1.125rem;
  border-radius: 6.1875rem;
  transition: 0.2s ease-in-out;
}

.u-label--rounded {
  border-radius: 0.25rem;
}

/*------------------------------------
  Label Sizes
------------------------------------*/
/* Extra Small */
.u-label--xs {
  font-weight: 300;
  font-size: 0.625rem;
  line-height: 1.7;
  padding: 0.25rem 1rem;
}

/* Small */
.u-label--sm {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

/*------------------------------------
  Label Colors
------------------------------------*/
/* label primary */
.u-label--primary {
  color: #377dff;
  background-color: rgba(55, 125, 255, 0.1);
}

.u-label--primary[href]:hover, .u-label--primary[href]:focus {
  color: #fff;
  background-color: #377dff;
}

/* label secondary */
.u-label--secondary {
  color: #77838f;
  background-color: rgba(119, 131, 143, 0.1);
}

.u-label--secondary[href]:hover, .u-label--secondary[href]:focus {
  color: #fff;
  background-color: #77838f;
}

/* label success */
.u-label--success {
  color: #00c9a7;
  background-color: rgba(0, 201, 167, 0.1);
}

.u-label--success[href]:hover, .u-label--success[href]:focus {
  color: #fff;
  background-color: #00c9a7;
}

/* label info */
.u-label--info {
  color: #00dffc;
  background-color: rgba(0, 223, 252, 0.1);
}

.u-label--info[href]:hover, .u-label--info[href]:focus {
  color: #1e2022;
  background-color: #00dffc;
}

/* label warning */
.u-label--warning {
  color: #ffc107;
  background-color: rgba(255, 193, 7, 0.1);
}

.u-label--warning[href]:hover, .u-label--warning[href]:focus {
  color: #1e2022;
  background-color: #ffc107;
}

/* label danger */
.u-label--danger {
  color: #de4437;
  background-color: rgba(222, 68, 55, 0.1);
}

.u-label--danger[href]:hover, .u-label--danger[href]:focus {
  color: #fff;
  background-color: #de4437;
}

/* label light */
.u-label--light {
  color: #f8f9fa;
  background-color: rgba(248, 249, 250, 0.1);
}

.u-label--light[href]:hover, .u-label--light[href]:focus {
  color: #1e2022;
  background-color: #f8f9fa;
}

/* label dark */
.u-label--dark {
  color: #1e2022;
  background-color: rgba(30, 32, 34, 0.1);
}

.u-label--dark[href]:hover, .u-label--dark[href]:focus {
  color: #fff;
  background-color: #1e2022;
}

/* label white */
.u-label--white {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.u-label--white[href]:hover, .u-label--white[href]:focus {
  color: #1e2022;
  background-color: #fff;
}

/* label indigo */
.u-label--indigo {
  color: #2d1582;
  background-color: rgba(45, 21, 130, 0.1);
}

.u-label--indigo[href]:hover, .u-label--indigo[href]:focus {
  color: #fff;
  background-color: #2d1582;
}


/*------------------------------------
  Wordpress Customize
------------------------------------*/
.post-navigation {
  background-color: $gray-100;
  padding: 15px;

  .screen-reader-text {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .nav-links {
    margin: auto;
    display: table;
    max-width: 1000px;
  }

  .nav-previous,
  .nav-next {
    display: table-cell;
    padding: 10px;
    width: 50%;
    vertical-align: top;

    .screen-reader-text {
      display: none;
    }

    .meta-nav {
      color: $black;
      display: block;
      padding-top: 10px;
      padding-bottom: 5px;
    }

    .post-title {
      @include transition(border-color .2s ease-in-out); 
      border-bottom: 2px solid;
      border-color: transparent;
      color: $green;
      display: inline;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.15em;  
      text-decoration: none;
    }

    a {
      display: inline-block;
      position: relative;
      min-height: 100px;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }

      &:hover {
        .post-title {
          border-color: $green; 
          color: $green;          
          text-decoration: none;
        }
      }
    }

    img {
      background: #fff;
      position: absolute;
      padding: 5px;
      border: 1px solid $gray-200;
      top: 0;
      height: 100px;
      width: auto;
      left: 20px;
    }
  }



  .nav-previous {
    border-right: 1px solid $green;
    text-align: right;

    a {
      padding-right: 150px;
    }

    img {
      left: inherit;
      right: 20px;
    }
  }

  .nav-next {
    border-left: 1px solid $green;
    a {
      padding-left: 150px;
    }
  }
}

/*------------------------------------
  post
------------------------------------*/
.post-info-bar {
  padding-bottom: 10px;

  .icon-comments {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-left: 10px;
  }
  [class*="icon"],
  [class^="icon"] {
    margin-right: 6px;
  }
}

.post-image {
  img {
    height: auto;
    max-width: 100%;
    width: auto;
  }
}

.search-form {
  label {
    width: 100%;

    .screen-reader-text {
      display: none;
    }
  }

  .search-submit {
    @extend .btn;
    @extend .btn-warning;
    @extend .btn-icon;
    @extend .my-2;
    @extend .my-sm-0;
    @extend .btn-pill;
    @extend .transition-splash-hover;

    position: absolute;
    right: 6px;
    top: 6px;
  }

  input[type="search"] {
    border-radius: 6.1875rem;
    border: none;
    background-color: #f4f4f7;
    float: left;
    padding: 14.5px 148px 14.5px 20px;
    margin-top: 2px;
    width: 100%;
  }
}

.widget_search {

}


/*------------------------------------
  Wordpress comments
------------------------------------*/
.comments-title {  
    font-size: 1rem;
    margin: 0;
    padding-bottom: 20px;
}

.comment-list {
  font-size: .825rem;
  font-weight: 500;
  list-style: none;
  padding: 0;
  margin: 0;
}

.children {
  list-style: none;
  padding: 0;
  margin: 0;
}

.depth-1 {
  > .comment-body {
    border: 1px solid $gray-200;
    padding: 10px;
    margin-bottom: 10px;
  }

  > .children {
    padding-left: 25px;
  }
}


.depth-2 .comment-body {
  margin-bottom: 10px;
}

.comment-author {
  @include clearfix;
  img {
    @include border-radius(100%);
    float: left;
  }

  .fn {    
    font-weight: 500;
    padding-left: 10px;
    padding-top: 3px;
    display: inline-block;
  }

  .says {
    display: none;
  }
}

.comment-metadata {
  color: $gray-600;
  font-size: .7rem;
  padding-left: 50px;
  position: relative;
  top: -20px;

  a {
    color: $gray-600;
    font-weight: 300;
  }
}

.comment-content {
  @include border-radius(10px)
  background-color: $gray-100;
  padding: 10px;
  font-weight: 400;

  p:last-child {
    margin: 0;
  }

}

.comment-form {
  .submit {
    visibility: hidden;

    &.btn {
      visibility: visible;
    }
  }

  label {
    display: block;
    font-size: .8rem;
    margin-bottom: .2rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  textarea {
    border: none;
    background-color: #f4f4f7;
    padding: 8px 12px;;
  }
}

.reply {
  text-align: right;
  font-size: .7rem;
  font-weight: 300;
}

.comment-reply-title {
  font-size: 1rem;
  margin-top: 2rem;
}

.comment-notes {
  font-size: .825rem;
  font-weight: 300;
  font-style: italic;
}