/*######################################################
	footer
#######################################################*/
.footer {
	&-logo {
		img {
			max-width: 140px;
		}
	}

	.f-link {
		color: #6c757d;
		font-weight: bold;

		transition: all linear .3s;

		&:focus,
		&:active {
			color: #6c757d;
			text-decoration: none;
		}

		&:hover {
			color: #222;
			text-decoration: none;
		}
	}

	&-menu {
		font-size: .825rem;
		font-weight: 400;
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			padding: 0;
			position: relative;
		}

		a {
			@include transition(all linear .3s);
			color: $green;
			display: inline-block;
			padding: 8px 0;

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}

			&:hover {
				@include transform(translate(.5rem, 0, ));
			}
		}
	}

	&-social {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		text-align: right;
		font-size: 20px;
    	justify-content: flex-end;

		a {
			@include transition(all linear .3s);
			padding: 10px;
			margin: 0 2px;

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
		}
	}
}