/*######################################################
  header
#######################################################*/
header#header {
	padding-top: 20px;
	padding-bottom: 30px;

	.single &,
	.archive & {
		box-shadow: 0 1px 10px rgba(151, 164, 175, 0.1);
	}
}

.top-bar {
	background-color: #f4f4f7;//darken($green, 30%);
	//background-image: linear-gradient(150deg, #04916f 0%, #00a57d 100%);//linear-gradient(150deg, #04916f 0%, #007256 100%);
	/*
	background-image: url('img/banner/456.png');
    background-repeat: no-repeat; 
    background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/

	.container-fluid {
		display: flex;
		padding-top: 4px;
		padding-bottom: 4px;
	}
}