/*######################################################
  banner subpage
#######################################################*/
.banner-subpage {
	&-image {
		min-height: 400px;
		display: table;
		width: 100%;

		background-repeat: no-repeat;
		background-position: center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.is-full & {
			@include media-breakpoint-up(lg) {
				height: calc(100vh - 122px);
			}

			@include media-breakpoint-between(md,md) {
				height: 600px;
			}

			@include media-breakpoint-between(sm,sm) {
				height: 450px;
			}
		}
	}

	&-inner {
		display: table-cell;
		position: relative;
		vertical-align: middle;
		width: 100%;

		&:before {
			position: absolute;
			left: 0;
			top: 0;
			//opacity: .2;
			//background-color: $green;
			background-image: linear-gradient(150deg, rgba(4, 145, 111, 0.8) 0%, rgba(0, 165, 125, 0.75) 100%);//linear-gradient(150deg, rgba(4, 145, 111, 0.3) 0%, rgba(0, 165, 125, 0.2) 100%);//
    		background-repeat: repeat-x;
    		
			content: '';
			display: block;
			height: 100%;
			width: 100%;
			z-index: 1;
		}

		.is-has-wave & {
			padding-bottom: 50px;
		}

		.dzsparallaxer {
			position: absolute;
			left: 0;
			opacity: 0;
			height: 100%;
			top: 0;
			width: 100%;
			z-index: 0;

			&.dzsprx-readyall {
				opacity: 1;
			}
		}
	}

	&-title {
		font-size: 4.5rem;
		line-height: 1.1em;
		margin: 0;
		padding-top: 40px;
		padding-bottom: 40px;
		text-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);			

		@include media-breakpoint-between(sm,sm) {
			font-size: 3.2rem;
		}

		@include media-breakpoint-down(xs) {
			font-size: 2.5rem;			
		}

		.is-title-large & {		
			@include media-breakpoint-up(lg) {
				font-size: 6rem;
			}
		}

		~ .banner-subpage-subtitle {
			position: relative;
			margin-top: -30px;
		}
	}

	.container-fluid {
		position: relative;
		z-index: 5;
	}
}