/*######################################################
	banner carousel
#######################################################*/
.banner-carousel {

	&-item {

		~ .banner-carousel-item {
			display: none;
		}
	}

	&-image {
		min-height: 700px;
		background-repeat: no-repeat;
		background-position: center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: relative;

		&:before {
			content: '';
			display: block;
			background-image: linear-gradient(150deg, rgba(4, 145, 111, 0.8) 0%, rgba(0, 165, 125, 0.75) 100%);//linear-gradient(150deg, rgba(4, 145, 111, 0.3) 0%, rgba(0, 165, 125, 0.2) 100%);//
    		background-repeat: repeat-x;
    		z-index: 0;
    		position: absolute;
    		left: 0;
    		top: 0;
    		height: 100%;
    		width: 100%;
		}
	}

	&-text {
		display: table;
		color: #fff;
		position: relative;
		margin: auto;
		z-index: 5;

		.slick-active & {
			@extend .fadeInUp;
			@extend .animated;
		}
	}

	&-content {
		display: table-cell;
		padding-top: 10rem;
		padding-bottom: 10rem;
		vertical-align: middle;
	}

	&-title {
		font-size: 4rem;
		line-height: 1.2;
	}

	&-subtitle {
		color: $yellow;
		font-size: 30px;
		padding-top: 30px;
	}
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}