/*######################################################
  news letter
#######################################################*/
.news-letter {
	@include clearfix;
	@include border-radius(6.1875rem);
	background-color: $white;
	padding: 2px 2px 2px 4px;
	max-width: 500px;

	input[type="text"] {
		@include border-radius(6.1875rem);
		border: none;
		background-color: #f4f4f7;
		float: left;
		padding: 8px 20px;
		margin-top: 2px;
		width: calc(100% - 185px);
	}

	@include media-breakpoint-up(sm) {
		margin-left: auto !important;
	}
}