/*######################################################
  partners
#######################################################*/
.partners {
	&-content {
		margin: auto;
		max-width: 800px;
	}

	&-item {
		max-width: 120px;
		padding-bottom: 20px;
	}
}