/*######################################################
  portfolio
#######################################################*/
.portfolio {
	&-list {
		padding-top: 20px;
	}
	
	&-item {
		border: none;

		.portfolio-list & {
			margin-bottom: 1.4rem;
		}

		.card-title {			
			color: $green;
		}

		.card-body {
			font-weight: 300;
		}
	}

	&-inner {
		box-shadow : 0 0.75rem 1.25rem 0.0625rem rgba(64,64,64,0.09);
	}

	&-navs {
		padding-top: 20px;
		padding-bottom: 20px;

		.btn {			
			outline: none;
			box-shadow: none;

			&:active,
			&:focus,
			&:hover {
				outline: none;
				box-shadow: none;
			}

			&:not(.btn-primary) {
				background-color: transparent;
    			border-color: #d5dae2;
				color: #8c98a4;
			}
		}
	}


	&-home {
		.portfolio-item {
			background-color: transparent;
			margin-bottom: 32px;
		}

		.card-body {
			background-color: #fff;
		}
	}

	&-image {
		display: block;
		max-height: 300px;
		overflow: hidden;
	}

	&-link {
		&:hover,
		&:focus,
		&:active {
			text-decoration: none;

			.card-title {
				color: $green;
			}
		}
	}

	.btn-group {
		padding-bottom: 20px;

		.btn {
			@include border-radius(6.1875rem !important);
			border: 1px solid $white !important;
			font-weight: 300;
			position: relative;
			letter-spacing: 2px;

			&:not(.btn-primary) {				
				background-color: #f4f4f7;
				color: #77838f;
			}

			&:not(:last-child) {
				padding-right: 60px;
			}

			&:nth-child(1) {
				z-index: 1;
			}
		    &:nth-child(2) {
		    	z-index: 2;
		    }
		    &:nth-child(3) {
		    	z-index: 3;
		    }
		    &:nth-child(4) {
		    	z-index: 4;
		    }
		    &:nth-child(5) {
		    	z-index: 5;
		    }

		    &:hover {
		    	background-color: $green;
		    	color: $white;
		    }


			~ .btn {
				margin-left: -40px;
			}
		}
	}
}