.whatwedo {
	&-icon {
		max-width: 50px;
	} 

	&-item {
		padding-bottom: 30px;

		> a {
			display: block;
			height: 100%;

			&:active,
			&:hover,
			&:focus {
				text-decoration: none;
			}

			&:hover {
				cursor: default;

				.card-title {
					color: $green;
				}
				
				.card {
					@include transform(translate(0, -.5rem, ));
					border-color: $green;
					box-shadow: 0px 15px 30px 0px rgba(0, 165, 125, 0.6);
				}
			}
		}
	}

	&-content {
		color: $gray-600;
		font-weight: 400;
		font-size: .825rem;
		line-height: 24px;
	}

	&-icon {
		position: relative;

		&-main {
			color: $green;
			font-size: 25px;
			position: absolute;
			left: calc(50% - 8px);
			top: calc(50% - 14px);
		}

		&-frame {
			font-size: 60px;
			color: #E6F6F2;
		}
	}

	/* cards */

	.card {
		@include border-radius(0);
		@include transition(all 0.2s linear);
		box-shadow: 0px 0px 0px 0px rgba(0, 165, 125, 0.35);
				//@include border-radius(10px);
				//@include transition(all 0.2s linear);
		height: 100%;
		position: relative;
		/*

		&:before,
		&:after {
			@include transition(all linear .4s);
			background: rgba(0, 165, 125, 0.8);
			content: '';
			position: absolute;
			top: 0;
			width: 50%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}

		&:hover {
			&:before,
			&:after {     
				opacity: 1;
				visibility: visible;
				width: 0;
			}
		}
		*/

		&-image {
			text-align: center;
			padding: 1.5em 1em 1em 1em;

			.whatwedo-icon {				
				background-color: $green;
				display: block;
				margin: auto;
				height: 90px;
				line-height: 130px;
				width: 90px;
				max-width: inherit;

				/*
				-webkit-transition: 0.6s;
				-webkit-transform-style: preserve-3d;

				-moz-transition: 0.6s;
				-moz-transform-style: preserve-3d;

				-o-transition: 0.6s;
				-o-transform-style: preserve-3d;

				transition: 0.6s;
				transform-style: preserve-3d;
				*/
			}
			.whatwedo-icon-frame {
				opacity: .2;
			}

			.whatwedo-icon-main {
				color: $white;
				font-size: 40px;
				left: calc(50% - 22px);
				top: calc(50% - 20px);
			}
		}

		&-title {
			@include transition(all 0.4s linear);
			color: #242526;
			padding: 0;
			text-transform: uppercase;
		}

		&-body {
			text-align: center;
		}

		&-footer {
			display: none;
			background: transparent;
		}
	}
}