<!DOCTYPE html>
<html lang="en">
  <head>
   
    {{> meta title="Indo Creative Lab - Thinking one step ahead" }}
    
  </head>
  <body class="page-template">  

      {{> header }}


      <main id="main">

          {{> banner-subpage 
              image="img/banner/free/office-3.jpg"
              title="Your business needs a little push."
              wavebg="true"
            }}



          <section class="page-section ps-bannervideo">

              {{> banner-video}}

          </section>

           <section class="page-section ps-servicedetail">
              <div class="container-fluid">
                  <h2 class="page-section-title  text-center">Service we <span>provide</span></h2>
                  <p class="page-section-subtitle text-center">Enhance your brand with easy-to-use powerful customization features</p>

                  {{> service-detail }}

              </div>
          </section>



          {{> stripe-promo-gradient }}

      </main>


      {{> footer }}


  </body>
</html>