<!DOCTYPE html>
<html lang="en">
  <head>
   
    {{> meta title="Indo Creative Lab - Thinking one step ahead" }}
    
  </head>
  <body class="page-template">  

      {{> header }}


      <main id="main">

        <section class="page-section page-columns"> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 page-column page-column-left">
                        <h1 class="page-title h1 font-weight-semi-bold">News</h1>

                        <div class="blog-list  card-columns">


                            
                          <div class="blog-item card">
                            <a href="#">
                              <img class="card-img-top" src="img/portfolio/img5.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                              <div class="blog-info">
                                <p class="card-text"><small class="text-muted"><i class="icon-calendar"></i>January 24, 2019</small> <small class="text-muted"><i class="icon-bubble"></i>4 Comments</small></p>                                
                              </div>
                              <h5 class="card-title"><a href="#">Remote workers, here's how to dodge distractions</a></h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>

                          <div class="blog-item card">
                            <a href="#">
                              <img class="card-img-top" src="img/portfolio/img5.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                              <div class="blog-info">
                                <p class="card-text"><small class="text-muted"><i class="icon-calendar"></i>January 24, 2019</small> <small class="text-muted"><i class="icon-bubble"></i>4 Comments</small></p>                                
                              </div>
                              <h5 class="card-title"><a href="#">Remote workers, here's how to dodge distractions</a></h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>

                          <div class="blog-item card">
                            <a href="#">
                              <img class="card-img-top" src="img/portfolio/img5.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                              <div class="blog-info">
                                <p class="card-text"><small class="text-muted"><i class="icon-calendar"></i>January 24, 2019</small> <small class="text-muted"><i class="icon-bubble"></i>4 Comments</small></p>                                
                              </div>
                              <h5 class="card-title"><a href="#">Remote workers, here's how to dodge distractions</a></h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>

                          <div class="blog-item card">
                            <a href="#">
                              <img class="card-img-top" src="img/portfolio/img5.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                              <div class="blog-info">
                                <p class="card-text"><small class="text-muted"><i class="icon-calendar"></i>January 24, 2019</small> <small class="text-muted"><i class="icon-bubble"></i>4 Comments</small></p>                                
                              </div>
                              <h5 class="card-title"><a href="#">Remote workers, here's how to dodge distractions</a></h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>

                          <div class="blog-item card">
                            <a href="#">
                              <img class="card-img-top" src="img/portfolio/img5.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                              <div class="blog-info">
                                <p class="card-text"><small class="text-muted"><i class="icon-calendar"></i>January 24, 2019</small> <small class="text-muted"><i class="icon-bubble"></i>4 Comments</small></p>                                
                              </div>
                              <h5 class="card-title"><a href="#">Remote workers, here's how to dodge distractions</a></h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>

                          <div class="blog-item card">
                            <a href="#">
                              <img class="card-img-top" src="img/portfolio/img5.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                              <div class="blog-info">
                                <p class="card-text"><small class="text-muted"><i class="icon-calendar"></i>January 24, 2019</small> <small class="text-muted"><i class="icon-bubble"></i>4 Comments</small></p>                                
                              </div>
                              <h5 class="card-title"><a href="#">Remote workers, here's how to dodge distractions</a></h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>

                          <div class="blog-item card">
                            <a href="#">
                              <img class="card-img-top" src="img/portfolio/img5.jpg" alt="Card image cap">
                            </a>
                            <div class="card-body">
                              <div class="blog-info">
                                <p class="card-text"><small class="text-muted"><i class="icon-calendar"></i>January 24, 2019</small> <small class="text-muted"><i class="icon-bubble"></i>4 Comments</small></p>                                
                              </div>

                              <h5 class="card-title"><a href="#">Remote workers, here's how to dodge distractions</a></h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>




                        </div>


                    </div>
                    <div class="col-lg-4 page-column page-column-right">
                        <div class="sticky-top">

                        <div class="sidepanel-block">   
                           <div class="inner">                           
                              <h4 class="sidepanel-block-label h6">CATEGORIES</h4>
                              <ul class="list-unstyled blog-category-list">
                                <li>
                                    <a href="#" title=""><span>Apartments</span></a>
                                    <span>7</span>
                                </li>
                                <li>
                                    <a href="#" title=""><span>Business</span></a>
                                    <span>15</span>
                                </li>
                                <li>
                                    <a href="#" title=""><span>Construction</span></a>
                                    <span>4</span>
                                </li>
                                <li>
                                    <a href="#" title=""><span>Location</span></a>
                                    <span>1</span>
                                </li>
                            </ul>
                            </div>
                          </div>

                          <div class="sidepanel-block">  
                           <div class="inner">         
                            <h4 class="sidepanel-block-label h6">POPULAR POSTS</h4>  
                            <ul class="list-unstyled popular-post-list">
                              <li class="media">

                                <svg class="bd-placeholder-img mr-3" width="64" height="64" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"></rect><text fill="#dee2e6" dy=".3em" x="50%" y="50%">64x64</text></svg>

                                <div class="media-body">
                                  <h5 class="mt-0 mb-1">List-based media object</h5>
                                  <span><i class="icon-calendar"></i>April 25, 2018</span>
                                </div>
                              </li>
                              <li class="media my-4">

                                <svg class="bd-placeholder-img mr-3" width="64" height="64" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"></rect><text fill="#dee2e6" dy=".3em" x="50%" y="50%">64x64</text></svg>

                                <div class="media-body">
                                  <h5 class="mt-0 mb-1">List-based media object</h5>
                                  <span><i class="icon-calendar"></i>April 25, 2018</span>
                                </div>
                              </li>
                              <li class="media">
                                
                                <svg class="bd-placeholder-img mr-3" width="64" height="64" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"></rect><text fill="#dee2e6" dy=".3em" x="50%" y="50%">64x64</text></svg>

                                <div class="media-body">
                                  <h5 class="mt-0 mb-1">List-based media object</h5>
                                  <span><i class="icon-calendar"></i>April 25, 2018</span>
                                </div>
                              </li>
                            </ul> 
                          </div>

                          </div>


                          <div class="sidepanel-block">  
                           <div class="inner">             
                            <h4 class="sidepanel-block-label h6">POPULAR TAGS</h4>
                            <span class="u-label u-label--sm u-label--primary mb-2">Application</span> <span class="u-label u-label--sm u-label--primary mb-2">Website</span> <span class="u-label u-label--sm u-label--primary mb-2">Design</span>
                          </div>
                          </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> work-carousel }}



          {{> stripe-promo-gradient }}

      </main>


      {{> footer }}


  </body>
</html>