<!DOCTYPE html>
<html lang="en">
  <head>
   
    {{> meta title="Indo Creative Lab - Thinking one step ahead" }}
    
  </head>
  <body>  

      {{> header }}


      <main id="main">



          
        
          {{> banner-carousel }} 

          <section class="page-section ps-whatwedo">
            <div class="container-fluid">
                <h2 class="page-section-title  text-center">What We <span>Do</span></h2>
                <p class="page-section-subtitle text-center">Fast and easy design</p>
                {{> what-we-do }}
            </div>
          </section>

          {{> partners }}

          
          {{> testimonials }}

          {{> work-carousel }}

          {{> stripe-promo-gradient }}

      </main>


      {{> footer }}


  </body>
</html>