<!DOCTYPE html>
<html lang="en">
  <head>
   
    {{> meta title="Indo Creative Lab - Thinking one step ahead" }}
    
  </head>
  <body>  

      {{> header }}


      <main id="main">

        {{> banner-subpage 
            image="img/banner/free/work-bg3.jpg"
            title="Our Works"
            wavebg="true"
        }}

           <section class="page-section">
              <div class="container-fluid">
                  <p class="page-section-subtitle text-center">Experience a level of our quality in both design &amp; customization works.</p>

                  {{> portfolio-filter }}

                  
              </div>
          </section>

          {{> stripe-promo-gradient }}


      </main>


      {{> footer }}


  </body>
</html>