<!DOCTYPE html>
<html lang="en">
  <head>
   
    {{> meta title="Indo Creative Lab - Thinking one step ahead" }}
    
  </head>
  <body class="page-template">  

      {{> header }}


      <main id="main">

        <section class="page-section page-columns"> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 page-column page-column-left">
                        <div class="detail-thumb">
                            <div class="detail-thumb-item pb-4">
                              <div class="image-frame img-fluid">
                                  <img class="rounded img-fluid" src="img/client/img1.jpg" alt="Image Description">
                              </div>
                            </div>
                            <div class="detail-thumb-item pb-4">
                              <div class="image-frame">
                                  <img class="rounded img-fluid" src="img/client/img2.jpg" alt="Image Description">
                              </div>
                            </div>
                            <div class="detail-thumb-item pb-4">
                              <div class="image-frame">
                                  <img class="rounded img-fluid" src="img/client/img3.jpg" alt="Image Description">
                              </div>
                            </div>
                            <div class="detail-thumb-item pb-4">
                              <div class="image-frame">
                                  <img class="rounded img-fluid" src="img/client/img4.jpg" alt="Image Description">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5  page-column page-column-right">
                        <div class="sticky-top">

                          <div class="sidepanel-block">  
                            <div class="inner">                          
                              <h1 class="page-title h4 text-primary font-weight-semi-bold">Google Pixel 2 XL</h1>
                              <div class="wysiwyg">
                                  <p>Displaying this large amount of content in a smooth and seamless way was quite a challenge. By loading assets in the background, playing and stopping audio on the fly, parallaxing hotspots, and use of large images we succeeded in giving the user a smooth experience.</p>
                              </div>
                            </div>
                          </div>

                          <div class="sidepanel-block"> 
                            <div class="inner">      
                              <dl class="detail-list">
                                  <dt class="detail-list-label h6">Client</dt>
                                  <dd class="detail-list-value text-muted small">Polynates</dd>

                                  <dt class="detail-list-label h6">Projects</dt>
                                  <dd class="detail-list-value text-muted small">
                                    <span class="u-label u-label--sm u-label--primary mb-2">Application</span>
                                    <span class="u-label u-label--sm u-label--success mb-2">Re-Branding</span>
                                    <span class="u-label u-label--sm u-label--warning mb-2">Website</span>
                                  </dd>

                                  <dt class="detail-list-label h6">Technology</dt>
                                  <dd class="detail-list-value text-muted small">Wordpress, Adobe Photoshop, Adobe Ilustrator</dd>

                                  <dt class="detail-list-label h6">Go to</dt>
                                  <dd class="detail-list-value text-muted small">http://www.polynates.com</dd>
                              </dl>
                            </div>
                          </div>

                          <div class="sidepanel-block">   
                            <div class="inner">    
                              <h4 class="sidepanel-block-label h6">Share</h4>
                            </div>
                          </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> work-carousel }}



          {{> stripe-promo-gradient }}

      </main>


      {{> footer }}


  </body>
</html>