@font-face {
  font-family: 'itechnosia';
  src:  url('fonts/itechnosia.eot?acj0l1');
  src:  url('fonts/itechnosia.eot?acj0l1#iefix') format('embedded-opentype'),
    url('fonts/itechnosia.ttf?acj0l1') format('truetype'),
    url('fonts/itechnosia.woff?acj0l1') format('woff'),
    url('fonts/itechnosia.svg?acj0l1#itechnosia') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'itechnosia' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsup:before {
  content: "\f232";
}
.icon-call:before {
  content: "\f2a0";
}
.icon-social-twitter:before {
  content: "\e009";
}
.icon-social-tumblr:before {
  content: "\e00a";
}
.icon-social-facebook:before {
  content: "\e00b";
}
.icon-paper-plane:before {
  content: "\e094";
}
.icon-social-instagram:before {
  content: "\e609";
}
.icon-code:before {
  content: "\f196";
}
.icon-legal:before {
  content: "\f25e";
}
.icon-magic:before {
  content: "\f276";
}
.icon-upload:before {
  content: "\f362";
}
.icon-instagram1:before {
  content: "\f24d";
}
.icon-paper-plane1:before {
  content: "\f2a8";
}
.icon-download:before {
  content: "\f1bd";
}
.icon-sort-amount-desc:before {
  content: "\f30a";
}
.icon-phone2:before {
  content: "\f354";
}
.icon-ellipsis-v:before {
  content: "\f1c4";
}
.icon-ellipsis-h:before {
  content: "\f1c3";
}
.icon-camera-retro:before {
  content: "\f163";
}
.icon-close1:before {
  content: "\f191";
}
.icon-minus:before {
  content: "\f28e";
}
.icon-long-arrow-down:before {
  content: "\f272";
}
.icon-check:before {
  content: "\f17b";
}
.icon-server:before {
  content: "\f2ef";
}
.icon-comments:before {
  content: "\f1a1";
}
.icon-plus:before {
  content: "\f2c2";
}
.icon-repeat:before {
  content: "\f2d9";
}
.icon-chevron-down:before {
  content: "\e901";
}
.icon-double-arrow-left:before {
  content: "\e906";
}
.icon-double-arrow-right:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e90c";
}
.icon-chevron-left:before {
  content: "\e90f";
}
.icon-chevron-right:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e918";
}
.icon-instagram:before {
  content: "\e91e";
}
.icon-tick:before {
  content: "\e935";
}
.icon-quill:before {
  content: "\e908";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-history:before {
  content: "\e94d";
}
.icon-printer:before {
  content: "\e954";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-users:before {
  content: "\e972";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-attachment1:before {
  content: "\e9cd";
}
.icon-star-empty1:before {
  content: "\e9d7";
}
.icon-infinite:before {
  content: "\ea2f";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-make-group:before {
  content: "\ea58";
}
.icon-omega:before {
  content: "\ea66";
}
.icon-sigma:before {
  content: "\ea67";
}
.icon-insert-template:before {
  content: "\ea72";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-libreoffice:before {
  content: "\eae3";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-attachment:before {
  content: "\e9ce";
}
.icon-star-empty:before {
  content: "\e9d8";
}
.icon-star-half:before {
  content: "\e9d9";
}
.icon-star-full:before {
  content: "\e9da";
}
