<footer id="footer">
  <div class="container-fluid">
    {{#if style2 }}

    <div class="footer-block pb-4">
      <div class="row justify-content-md-between">
        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h4 class="h6 font-weight-semi-bold">About</h4>
          <!-- List Group -->
          <ul class="list-group list-group-flush list-group-borderless mb-0 list-unstyled">
            <li><a class="list-group-item list-group-item-action" href="../pages/about-agency.html">About</a></li>
            <li><a class="list-group-item list-group-item-action" href="../pages/services-agency.html">Services</a></li>
            <li><a class="list-group-item list-group-item-action" href="../pages/careers.html">Careers</a></li>
          </ul>
          <!-- End List Group -->
        </div>
        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h4 class="h6 font-weight-semi-bold">Account</h4>
          <!-- List Group -->
          <ul class="list-group list-group-flush list-group-borderless mb-0 list-unstyled">
            <li><a class="list-group-item list-group-item-action" href="../account/dashboard.html">Account</a></li>
            <li><a class="list-group-item list-group-item-action" href="../account/my-tasks.html">My tasks</a></li>
            <li><a class="list-group-item list-group-item-action" href="../account/projects.html">Projects</a></li>
          </ul>
          <!-- End List Group -->
        </div>
        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h4 class="h6 font-weight-semi-bold">Resources</h4>
          <!-- List Group -->
          <ul class="list-group list-group-flush list-group-borderless mb-0 list-unstyled">
            <li><a class="list-group-item list-group-item-action" href="../pages/help.html">Help</a></li>
            <li><a class="list-group-item list-group-item-action" href="../pages/terms.html">Terms</a></li>
            <li><a class="list-group-item list-group-item-action" href="../pages/privacy.html">Privacy</a></li>
          </ul>
          <!-- End List Group -->
        </div>
        <div class="col-md-6 col-lg-4">
          <h4 class="h6 font-weight-semi-bold mb-4">We are driven to deliver results for all your businesses.</h4>
          <!-- Button -->
          <button type="button" class="btn btn-xs btn-dark btn-wide transition-3d-hover text-left mb-2 mr-1">
          <span class="media align-items-center">
            <span class="fab fa-apple fa-2x mr-3"></span>
            <span class="media-body">
              <span class="d-block">Download on the</span>
              <strong class="font-size-1">App Store</strong>
            </span>
          </span>
          </button>
          <!-- End Button -->
          <!-- Button -->
          <button type="button" class="btn btn-xs btn-dark btn-wide transition-3d-hover text-left mb-2">
          <span class="media align-items-center">
            <span class="fab fa-google-play fa-2x mr-3"></span>
            <span class="media-body">
              <span class="d-block">Get it on</span>
              <strong class="font-size-1">Google Play</strong>
            </span>
          </span>
          </button>
          <!-- End Button -->
        </div>
      </div>
    </div>
    <div class="footer-block bd-top-1 text-center space-1 pt-4">
      <span class="footer-logo">
        <img src="img/indocreativelab-logo-small.png">
      </span>
      <p class="small text-muted pt-2"><a href="/" class="f-link">itechnosia.com</a> copyrights © 2018. All rights reserved.</p>
    </div>

    {{ else }}
    <div class="footer-block pb-4">
        <div class="row">
            <div class="col-sm-6">
              
            </div>
            <div class="col-sm-6 text-sm-right">
              <ul class="footer-social">
                <li>
                  <a href="" class="icon-instagram"></a>
                </li>
                <li>
                  <a href="" class="icon-whatsapp"></a>
                </li>
                <li>
                  <a href="" class="icon-facebook"></a>
                </li>
                <li>
                  <a href="" class="icon-twitter"></a>
                </li>
              </ul>
            </div>
        </div>
    </div>

    <div class="footer-block bd-top-1 space-1 pt-4 pb-5">
        <div class="row">
            <div class="col-sm-4">
                <span class="footer-logo">
                  <img src="img/indocreativelab-logo-small.png">
                </span>
                <p class="small text-muted pt-2">Copyrights © 2019. All rights reserved.</p>
            </div>
            <div class="col-sm-4">
              <div class="row">
                  <div class="col-sm-6">
                    <h4 class="h6 font-weight-semi-bold">Quick links</h4>
                    <!-- List Group -->
                    <ul class="footer-menu">
                      <li>
                        <a href="#">About us</a>
                      </li>
                      <li class="nav-item">
                        <a href="#">Services</a>
                      </li>
                      <li class="nav-item">
                        <a href="#">Our Works</a>
                      </li>
                      <li class="nav-item">
                        <a href="#">Contact Us</a>
                      </li>
                    </ul>
                    <!-- End List Group -->
                  </div>
                  <div class="col-sm-6">
                    <h4 class="h6 font-weight-semi-bold">Latest news</h4>
                    <!-- List Group -->
                    <ul class="footer-menu">
                      <li><a href="#">Account</a></li>
                      <li><a href="#">My tasks</a></li>
                      <li><a href="#">Projects</a></li>
                    </ul>
                    <!-- End List Group -->
                  </div>
              </div>
            </div>
            <div class="col-sm-4 text-sm-right ">

                <h4 class="h6 font-weight-semi-bold mb-4">Any further question ? <br>Please call us now.</h4>

                <a href="tel:0817432107" class="btn btn-success btn-icon my-2 my-sm-0 btn btn-primary btn-wide btn-pill transition-splash-hover"><i class="icon-phone"></i>&nbsp;&nbsp;+62 22 234 567 890</a>
            </div>
        </div>
    </div>

    {{/if}}

  </div>
</footer>
<script type="text/javascript" src="js/libraries-bundles.js"></script>
<script type="text/javascript" src="js/bootstrap-bundles.js"></script>
<script type="text/javascript" src="js/app.js"></script>