<div class="top-bar">  
  <div class="container-fluid">       
      <ol class="navbar-top">
        <li>
          <a href="" class="icon-instagram"></a>
        </li>
        <li>
          <a href="" class="icon-whatsapp"></a>
        </li>
        <li>
          <a href="" class="icon-facebook"></a>
        </li>
        <li>
          <a href="" class="icon-twitter"></a>
        </li>
      </ol>  
  </div>
</div>

<header id="header">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">            

            <a class="navbar-brand" href="home.html">ITECHNOSIA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>              
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item current-menu-item current_page_item">
                  <a class="nav-link" href="about.html">About us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="our-works.html">Our Works</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
              </ul>
              <a href="tel:0817432107" class="btn btn-success btn-icon my-2 my-sm-0 btn btn-warning btn-wide btn-pill transition-splash-hover"><i class="icon-phone"></i>&nbsp;&nbsp;Start Your Project With Us</a>
            </div>

        </div>
      </nav>
    </header>
